body {
  background-color: slategrey;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.login-container {
  height: 600px;
  width: 500px;
  margin: 0 auto;
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-top: 50px;
  animation: glow 1s infinite alternate;
}

@keyframes glow {
  from {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1), 0, 0 7px rgba(0, 123, 254, 0.3);
  }
  to {
    box-shadow: 0 0 20px rgba(0, 123, 254, 0.3), 0,
      0 20px rgba(0, 123, 254, 0.3);
  }
}

h1 {
  font-size: 25px;
  color: #343a40;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
  color: #495057;
  position: relative;
}

.required {
  color: red;
  position: absolute;
  right: 0;
}

input {
  box-sizing: border-box;
  border: 1px solid #ced4da;
  margin-bottom: 20px;
  padding: 12px;
  border-radius: 4px;
  transition: border-color 0.3s ease;
}

input:focus {
  border-color: #007bff;
}

button {
  background-color: #007bff;
  color: #ffffff;
  padding: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 15px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.password-input {
  position: relative;
}

.eye-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #495057;
  font-size: 20px;
}

.password-input-group {
  position: relative;
}

.password-toggle-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}
